<h2>Add a new timer:</h2>
<form method="post" action="/create_timer">
  <label for="name">Timer Name:</label>
  <input type="text" name="name" id="name" placeholder="Timer name" value="">
  <br></br>
  <div>  
    <label for="description">Description:</label>
  </div>
  <div>
    <textarea name="description" id="description" rows="5" cols="100" placeholder="Describe the purpose of your timer..."></textarea>
  </div>
  <button type="submit">Start Timer</button>
</form>